In [1]:
#arguments
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [2]:
#args 

def adder(*num):
    sum = 0
    
    for n in num:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6)

Sum: 8
Sum: 22
Sum: 17

In [6]:
#kwargs

def con(**kwargs):
    print(kwargs)
con(name='mike',city='boston',country='america')

{'name': 'mike', 'city': 'boston', 'country': 'america'}

In [8]:
def den(**details):
    for key,value in details.items():
        print(key,value)
        
den(name='mike',city='boston',country='america')

name mike
city boston
country america

In [9]:
#recursion

def fact(n):
    if n==0:
        return 0
    if n==1:
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [13]:
def print_msg(msg):


    def printer():
        # This is the nested function
        print(msg)

    printer()


print_msg("Hello")

Hello

In [14]:
#lambda function
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [16]:
#higher order functions

def create_adder(x): 
    def adder(y): 
        return x + y 
    
    return adder 
    
add_15 = create_adder(15) 
    
print(add_15(10))

25

In [17]:
#iterators


a = [0, 5, 10, 15, 20]
for i in a:
    if i % 2 == 0:
        print(str(i)+' is an Even Number')
    else:
        print(str(i)+' is an Odd Number')

0 is an Even Number
5 is an Odd Number
10 is an Even Number
15 is an Odd Number
20 is an Even Number

In [23]:
#generators

def sq_numbers(n):
    for i in range(1, n+1):
        yield i*i
  
  
a = sq_numbers(6)
  
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
4
9
16
25