In [4]:
import json
x =  '{ "name":"John", "age":30, "city":"New York"}'
y = json.loads(x)
print(y["age"])

30

In [6]:
a = {'lalalala': 3}
myString = json.dumps(a)
print (myString)

{"lalalala": 3}

In [10]:
age=23
def func():
    global age
    age=24
func()
age

24

In [1]:
import re

In [18]:
s='This is a very grateful thought'
e=re.findall('ate',s)
print(e)

['ate']

In [7]:


dic={'12':'asim','14':'vinod','19':'ron','13':'elu'}

sorted(dic.items())

[('12', 'asim'), ('13', 'elu'), ('14', 'vinod'), ('19', 'ron')]

In [14]:
list1=[12,3,4,5,6,7,8,9]

list2=(x for x in list1 if x%2==0)
for x in list2:
    print(x,end=' ')

12 4 6 8

In [23]:
class topten:
    def __init__(self):
        self.value=1
        
    def __iter__(self):
        return self
    
    def __next__(self):
        
        if self.value<=10:
            val=self.value
            self.value+=1
            
            return val
    
        else:
            raise StopIteration
            
c1=topten()

for i in c1:
    print(i)

1
2
3
4
5
6
7
8
9
10